<!-- To-DO: Implement carousel's and import data -->
<html>
    <head>
        <link rel="icon" href="assets/favicon.png">
        <title>Splash Screen</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>
    <body onload="sendProjects()" class="bg-dark text-light">
        <!--Project page-->
        <div class="container mt-4">
            <h1>
                <i class="bi bi-house"></i> Projects
            </h1>
            <hr>
        </div>
        <h1>Hi! <%= name %></h1>
        <form action="/logout" method="POST">
            <button class="btn btn-primary float-end" type="submit"> logout </button>
        </form>
        <!--Carousel -->
        <div id="blog-carousel" class="carousel slide" data-ride="carousel">        
        </div>


        <!--Import sendprojects-->
        <script>
            function sendProjects(){
    var userProjects = [<%= projects %>];
    console.log(userProjects)
    console.log(userProjects.length)
const n=userProjects.length;
let indicatorsText=
            `<!-- Carousel Menu -->
            <ol class="carousel-indicators">`;
let bodyText=
            `<!-- Carousel Body -->
            <div class="carousel-inner text-center">`;
let controlsText=
            `<!-- Carousel Controls -->
            <a class="carousel-control-prev" href="#blog-carousel" role="button" data-slide="prev">
                <i class="carousel-control-prev-icon"></i>
            </a>
            <a class="carousel-control-next" href="#blog-carousel" role="button" data-slide="next">
                <i class="carousel-control-next-icon"></i>
            </a>`;
let fullText=
            `<!--Carousel -->`;
if(n==0){
    fullText="There are no projects yet. Click the button to create one."
}

else{
    indicatorsText+=`<li data-bs-target="#blog-carousel" data-slide-to="0" class="active"></li>`;
    for(let i=0; i<n; i++){
        if(i!=0){
            indicatorsText+=`<li data-bs-target="#blog-carousel" data-slide-to="${i}"></li>`;
        }
        if(i==0){
        bodyText+=
                `<!-- Slide ${i+1} -->
                <div id="slide-${i+1}" class="carousel-item active">
                    <img class="img-fluid" src="bg-image.jpeg">
                    <div class="carousel-caption">
                        <h5> Project ${i+1} </h5>
                        <p> Project ${i+1} description </p>
                        <button onclick="document.location='tasks/project${i+1}.html'"> Start Work </button>
                    </div>
                </div>`;}
        else{bodyText+=
                `<!-- Slide ${i+1} -->
                <div id="slide-${i+1}" class="carousel-item">
                    <img class="img-fluid" src="bg-image.jpeg">
                    <div class="carousel-caption">
                        <h5> Project ${i+1} </h5>
                        <p> Project ${i+1} description </p>
                        <button onclick="document.location='tasks/project${i+1}.html'"> Start Work </button>
                    </div>
                </div>`;}
    } 
    indicatorsText+=`</ol>`;
    bodyText+=`</div>`;
    fullText+=indicatorsText+bodyText+controlsText+`</div>`
}

document.getElementById("blog-carousel").innerHTML=fullText;
}
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
