<html>
    <head>
        <link rel="icon" href="assets/favicon.png">
        <title>Project Viewer</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="styles/bootstrap.min.css">
        <link rel="stylesheet" href="styles/bootstrap-icons.css">
    </head>
    <body class="bg-dark text-light">
        <!--Project page-->
        <div class="container mt-4">
            <h1>
                <i class="bi bi-bar-chart"></i> Tasks
            </h1>
            <hr>
        </div>
        <div class="card-group">
            <!-- Card 1 --> <!-- Can iterate -->
            <div class="card bg-secondary border border-white" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title text-center">Task One</h5>
                <p class="card-text">Task Description</p>
                <div class="text-center">
                    <a href="tasks/taskViewer1.ejs" class="btn btn-primary text-center">Go To Task</a>
                </div>
                <div class="card-footer bg-transparent border-success">Due Date: </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="card bg-secondary border border-white" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title text-center">Task Two</h5>
                <p class="card-text">Task Description</p>
                <div class="text-center">
                    <a href="tasks/taskViewer2.ejs" class="btn btn-primary text-center">Go To Task</a>
                </div>
                <div class="card-footer bg-transparent border-success">Due Date: </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="card bg-secondary border border-white" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title text-center">Task Three</h5>
                <p class="card-text">Task Description</p>
                <div class="text-center">
                    <a href="tasks/taskViewer3.ejs" class="btn btn-primary text-center">Go To Task</a>
                </div>
                <div class="card-footer bg-transparent border-success">Due Date: </div>
                </div>
            </div>
        </div>
            <!-- Bootstrap Bundle with Popper -->
            <script src="scripts/bootstrap.bundle.min.js"></script>
        </body>
</html>