<html>
    <head>
        <link rel="icon" href="../assets/favicon.png">
        <title>Task 3</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../styles/bootstrap.min.css">
        <link rel="stylesheet" href="../styles/bootstrap-icons.css">
    </head>
    <body class="bg-secondary text-light">
        <!--Navbar-->
        <nav class="navbar navbar-light bg-dark container-fluid">
            <a class="navbar-brand text-light" href="../projectViewer.ejs">
                <i class="bi bi-house text-light"></i> Project
            </a>
        </nav>
        <div class='container'>
            <h1 class='display-1 mt-4'> Task 3 </h1>
            <hr>
            <p>Task description</p>
            <label>Insert link:</label>
            <textarea class="form-control" rows="4" id="message" placeholder="Message"> </textarea>
            <button class="btn btn-primary float-end" type="submit"> Submit </button>   
        </div>
        <!--  Bootstrap Bundle with Popper -->
        <script src="../scripts/bootstrap.bundle.min.js"></script>
    </body>
</html>